@font-face {
    font-family: "sp";
    src: url(./southpark.ttf) format("truetype");
}
img{
  height:225px;
  width:300px;
}

body {
  font-family: "sp";
  background-size:cover;
  background-image: url("../images/background.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}

.game{
  background-color: lightblue;
  height: 40vh;
  min-height: 355px;
  margin-top: 0px;

}

#startButton{
  margin-top:90px;
  height: 50px;
  width:100px;
}

.ansButton{
  width:250px;
  margin-top:10px
}

#header{
  padding-top:5px;
}

#question{
  font-size:18px;
}

button:hover {
    color: #ff69b4;
}
